<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <title>Portfolio</title>
  </head>

  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1-1">
              <img src="images/profile.png" width="156px" height="146px" alt="" >
            </div>
            <div class="left_1-2"></div>
            <div class="left_1-3 "></div>
            <div class="left_icons">
              <a class="link-href" href="">
                <div class="icon">
                  <img src="/author/icon/icons-facebook.svg" alt="" class="icon-1">
                </div>
              </a>
              <a class="link-href" href="">
                <div class="icon">
                  <img src="/author/icon/icons-instagram.svg" alt="" class="icon-1">
                </div>
              </a>
              <a class="link-href" href="">
                <div class="icon">
                  <img src="/author/icon/icons-twitter.svg" alt="" class="icon-1">
                </div>
              </a>
              <a class="link-href" href="">
                <div class="icon">
                  <img src="/author/icon/icons-linkedin.svg" alt="" class="icon-1">
                </div>
              </a>
              <a class="link-href" href="">
                <div class="icon">
                  <img src="/author/icon/icons-Youtube.svg" alt="" class="icon-1">
                </div>
              </a>
              <a class="link-href" href="">
                <div class="icon">
                  <img src="/author/icon/icons-dribbble.svg" alt="" class="icon-1">
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_2">
            <!-- <p class="left_2-1"><strong>Age:</strong>24</p>
            <p class="left_2-1"><strong>Residence:</strong>DB</p>
            <p class="left_2-1"><strong>Freelance</strong>Available</p>
     <p class="left_2-1"><strong>Adress</strong>Uzbekistan</p> -->
<!-- <div class="left_2-1">
  <p>Age:</p>
  <p>Residence</p>
  <p>Freelance</p>
  <p>Adress</p>
  </div>
  <div class="left_2-2">
    <p>24</p>
    <p>Bd</p>
    <p class="available">Available</p>
    <p> Uzbekistan</p>
  </div> -->
  


    
    <div class="info">
      <p><span>Age:</span> 24</p>
      <p><span>Residence:</span> BD</p>
      <p><span>Freelance:</span> <span class="available">Available</span></p>
      <p><span>Address:</span> Dhaka, Bangladesh</p>
    </div>

    <h3>Languages</h3>
    <div class="label"><span>Bengali</span><span>100%</span></div>
    <div class="bar"><div style="width:100%"></div></div>
    
    <div class="label"><span>English</span><span>80%</span></div>
    <div class="bar"><div style="width:80%"></div></div>
    
    <div class="label"><span>Spanish</span><span>60%</span></div>
    <div class="bar"><div style="width:60%"></div></div>

    <h3>Skills</h3>
    <div class="label"><span>HTML</span><span>90%</span></div>
    <div class="bar"><div style="width:90%"></div></div>
    
    <div class="label"><span>CSS</span><span>85%</span></div>
    <div class="bar"><div style="width:85%"></div></div>
    
    <div class="label"><span>JS</span><span>80%</span></div>
    <div class="bar"><div style="width:80%"></div></div>
    
    <div class="label"><span>PHP</span><span>75%</span></div>
    <div class="bar"><div style="width:75%"></div></div>
    
    <div class="label"><span>WordPress</span><span>85%</span></div>
    <div class="bar"><div style="width:85%"></div></div>
  </div>
</body>
</html>
         
          </div>
          <div class="marginer"></div>
          <div class="left_3"></div>
          <div class="marginer"></div>
          <div class="left_4"></div>
          <div class="marginer"></div>
          <div class="left_5"></div>
          <div class="marginer"></div>
        </div>
          <div class="midd_frame"></div>
          <div class="right_frame"></div>
          <div class=""></div>
      
       
      </div>
     
    </div>
  </body>
</html>
